.box {
  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 100%;
  height: 100%;
  max-width: 560px;
}

:global {
  .am-navbar {
    background-color: #000;
  }
}

.icon {
  height: 45px;
  padding-right: 10px;
}
